<div id="wrapper">

    <div id="sidebar-wrapper">
        <h2><a href="#" (click)="openConfig()">doit</a></h2>
        <ul class="sidebar-nav">
            <li *ngFor="let task of tasks" (click)="selection = task" [class.active]="task === selection">
                <span>{{task.title}}</span>
                <span (click)="startStop(task)" title="Start/Stop Task" [ngClass]="startStopClass(task)"></span>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper" *ngIf="selection">
        <div class="doit-detail">
            <h1>{{selection.title}}</h1>
            <div class="pause-log">
                <span [title]="logPaused ? 'Resume Log' : 'Pause Log'" (click)="pauseLog()" class="glyphicon button" [ngClass]="{'glyphicon-pause': !logPaused, 'glyphicon-play':logPaused}"></span>
            </div>
            <pre class="doit-log"><ul><li [ngClass]="{'doit-log-error': line.type === LogType.STDERR, 'doit-log-doit' : line.type === LogType.DOIT}" *ngFor="let line of taskLogData[selection.id]?.linesVisible">{{line.line}}</li></ul></pre>
        </div>
    </div>
</div>