<div id="wrapper">

    <div id="sidebar-wrapper">
        <h2>doit</h2>
        <ul class="sidebar-nav">
            <li *ngFor="let task of tasks" (click)="selection = task" [class.active]="task === selection">
                <span>{{task.title}}</span>
                <span (click)="startStop(task)" title="Start/Stop Task" [ngClass]="startStopClass(task)"></span>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper" *ngIf="selection">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{selection.title}}</h1>
                    <div class="title">
                        <p> <code>{{commandAndArgs(selection)}}</code> in directory <code>{{selection.cwd}}</code> </p>
                        <span title="Pause Log" (click)="pauseLog()" [style.font-weight]="logPaused ? 'bold' : undefined" class="button">{{logPaused ? 'Resume Log' : 'Pause Log'}}</span>
                    </div>
                    <pre>{{taskLogData[selection.id]?.data}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>